@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.page-header {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    /* background-color: #8a2be2; */
    background: #303C55;
    color: #FFFFFF;
    text-shadow: 4px 7px 6px rgba(0, 0, 0);
    /* border-radius: 1rem; */
    padding: 1rem;
    height: 100px;
  }







.about-init{
    background: rgb(138,43,226);
    background: linear-gradient(180deg, rgba(138,43,226,1) 29%, rgba(73,16,139,1) 58%);
    color: #F3F8FF
}

.about-container{
    color: black;
    
}

.about-info{
    height: fit-content;
}

.offer-container{
    background: #303C55;
}

.offer-head{
    margin-top: 10%;
}

#about{
    background-color: white;
    color: black;
}

.section1{
    color: black;
    font-family: "Poppins", sans-serif;
}

.list-outside{
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.hist2{
    display: flex;
    flex-direction: row;
    height: auto;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    
}

.whoimg{
    width: 40px;
}

.grid1{
   justify-content: center;
    align-items: center;
    margin-right: 40px;
    
}

.grid2{
    justify-content: center;
    align-items: center;
    margin-left: 70px;
}
.relative{
    margin-top: 30px;
}
.statistics{
    text-align: center;
    margin-top: 20px;
    color: white;
    margin-top: 100px;
}

@media screen and (max-width: 600px) {
.statistics{
    margin-top: 150px;
    text-align: center;
}
.hist2{
    margin-bottom: 50px;
}
}

.history-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.percs{
    width: 300px;
    height: auto;
    display: flex;
    flex: wrap;
    text-align: block;
}
.perc-head{
    margin-top: 40px;
}

.supacell{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

